{% raw %}
<div data-page="search" class="page">
  <div class="page-content">
		<div class="card">
		  <div class="card-header">This is a Boot</div>
		  <div class="card-content">
		    <div class="card-content-inner" align="center">
		    	<img src="{{selected.image}}" width="60%">
		    </div>
		  </div>
		  <div class="card-footer">Brown - High Heel - Casual</div>
		</div>

		{{#each suggestions}}
		{{#if newRow}}
		<div class="row">
		{{/if}}
			<div class="col-50">
				<div class="card">
				  <div class="card-content">
				    <div class="card-content-inner" align="center">
				    	<img src="{{image}}" width="60%">
				    </div>
				  </div>
				</div>
			</div>
		{{#unless newRow}}
		</div>
		{{/unless}}
		{{/each}}

	</div>
</div>
{% endraw %}